################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/matrix.pyc
/prediction.txt
/.vs/CS8803FinalProject/v14/.suo
