################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/matrix.pyc
/prediction.txt
/__pycache__/matrix.cpython-34.pyc
/CS8803FinalProject.v12.suo
